@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Albert+Sans:ital,wght@0,100..900;1,100..900&family=Italiana&family=Montserrat:ital,wght@0,100..900;1,100..900');
            :root{
                 --font-family-Montserrat: "Montserrat", serif;
                 --font-family-albert: "Albert Sans", sans-serif;
                 --font-family-dancing: "Dancing Script", cursive;
                 --text-color-white: #fff;
                 --text-color-black: #131311;
                 --text-color-orange: #f0b22d;
                 --bg-color-black: #131311;
                 --bg-color-white: #fff;
                 --bg-color-orange: #f0b22d;
                 --bg-color-grey: #f2f2f2;
            } 
            #searchBar{
                display: none;
            }
            .custom-width{
                width: 100%;
            }
            .navbar{
                background: var(--bg-color-black);
            }
            #toggledark{
                height: 50px;
                width: 50px;
                padding: 0;
                z-index: 99;
                border: none;
                border-radius: 50%;
                background: var(--bg-color-orange);
                display: flex;
                justify-content: center;
                align-items: center;
                position: fixed;
                top: 13px;
                right: 240px;
            }
            #myBtn {
                display: none;
                position: fixed;
                bottom: 20px;
                right: 30px;
                z-index: 99;
                font-size: 24px;
                border: none;
                outline: none;
                background-color: #f0b22d;
                cursor: pointer;
                padding: 10px 15px;
                border-radius: 0.3rem;
            }
              
            #myBtn:hover {
                color: #fff;
            }
            .btn1, .btn2 {
                background: var(--bg-color-orange);
                color: var(--text-color-black);
                outline: none;
                border: none;
                padding: 10px 16px;
                border-radius: 0.3rem;
                font-size: 16px;
            }
            .btn{
                border: none !important;
                box-shadow: none !important;
            }
            .icon i{
              color: #131311;
              font-size: 50px;
              color: 131331;
              cursor: pointer;
            }
            .icon i:hover{
              color: #f0b22d;
            }
            .icon h6{
              color: #131311;
              cursor: pointer;
              text-align: center;
            }
            .categories,
            .categories.form-control:focus, 
            .categories.active{
              background: #fff !important;
              color: #131331 !important;
              border: none;
              box-shadow: none;
            }
            
            .categories:hover{
              background: #fff;
              outline: none;
              border: none;
            }
            .search{
              background: #fff;
              color: #131311;
              border: none;
            }
            button:focus:not(:focus-visible) {
              outline: none;
            }
            .dropdown-item:hover{
                background: var(--bg-color-orange);
            }
            .search{
                background: #f0b22d !important;
                color: #131311 !important;
                border: none;
                font-weight: 500;
            }
            .search:hover{
                filter: brightness(1.1);
            }
            .nav-item{
                font-family: var(--font-family-albert);
                font-size: 20px;
                text-transform: capitalize;
                color: var(--text-color-white);
            }
            .change{
                margin-top: 140px !important;
            }
            .big{
               max-width: 100% !important;
            }
            .big img{
                width: inherit;
                background: #f2f2f2;
                border-radius: 0.3rem;
                border: 1px solid #dcdcdc;
            }
            .images{
                display: flex;
                justify-content: space-between;
                width: 100%;
                margin-top: 45px;
            }
            .small{
                width: 150px;
                overflow: hidden;
            }
            .small img{
                width: inherit;
                cursor: pointer;
                transition: all 0.3s ease;
            }
            .small img:hover{
                transform: scale(1.2);
            }
            p{
                margin-bottom: 10px;
            }
            .change>div>div>div:nth-child(2) p:nth-child(2) span{
                border: 1px solid #026f0d;
                border-radius: 0.3rem;
                padding: 4px;
                color: #026f0d;
            }
            .change>div>div>div:nth-child(2) p:nth-child(2) i{
                color: #f0b22d;
            }
            
            .change ul{
                background: #e1ebfa;
                border-radius: 0.3rem;
                margin-top: 16px;
            }
            .change ul li{
                color: #04419e;
                font-weight: 400;
                font-size: 20px;
                padding-bottom: 5px;
            }
            .change h4{
                margin-bottom: 15px
            }
            .change h4 del,
            .change h4 span{
                font-size: 18px;
            }
            .change h5{
                margin: 0;
                padding-top: 15px;
            }
            .add{
                color: #131311;
                background: #f0b22d;
                font-size: 24px;
                font-weight: 400;
                text-decoration: none;
                padding: 10px 20px;
                border: none;
                outline: none;
                border-radius: 0.3rem;
                margin-bottom: 20px;
            }
            .now{
                color: #fff;
                background: #131311;
                font-size: 24px;
                font-weight: 400;
                text-decoration: none;
                padding: 10px 20px;
                border: none;
                outline: none;
                border-radius: 0.3rem;
                margin-bottom: 20px;
            }
            .now:hover{
                background: #f0b22d;
                color: #131311;
            }
            .add:hover,
            .change .check:hover{
                color: #fff;
                background: #131311;
            }
            .change .input-group{
                max-width: 360px !important;
            }
            .change .form-control:focus{
                box-shadow: none;
                border-color: none;
            }
            .change .check{
                color: #131311;
                width: 25%;
                font-size: 20px;
                font-weight: 400;
                background: #f0b22d;
                border: none;
                outline: none;
                border-radius: 0.3rem;
            }
            .day .card{
                background: #f2f2f2;
            }
            .day h6{
                font-size: 20px;
            }
            .day h6{
                width: 100px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            .day h5>a{
                border: none;
                outline: none;
                font-family: "Albert Sans", sans-serif;
                font-size: 16px;
                padding: 8px 10px;
                background-color: #131311;
                cursor: pointer;
                font-weight: 500;
                border-radius: 0.3rem;
                color: #f0b22d;
                text-decoration: none;
            }

            .day h5>a:hover{
                background-color: #f0b22d;
                color: #131311;
            }
            .info button{
                color: #131311;
                background: #f0b22d;
                border: none;
                border-radius: 1rem;
                outline: none;
                padding: 12px 16px;

            }
            .info button:hover{
                color: #f0b22d;
                background: #131311;
            }
            #Description img{
                border-radius: 1rem;
            }
            #Description>div:nth-child(2){
                flex-direction: row !important;
                align-items: center;
                text-align: justify;
            }
            #Reviews{
                align-items: center;
            }
            #Reviews img{
                border-radius: 50rem;
            }
            .footer{
                background: #131311 !important;
                color: #fff;
            }
            .footer address, 
            .footer p{
                text-transform: capitalize;
                text-align: left;
                font-size: 20px;
                margin-bottom: 8px;
            }
            .footer h3{
                color: #fff;
                font-size: 36px;
            }
            .footer ul{
                list-style-type: none;
                padding: 0;
            }
            .footer i{
                color: #fff;
                font-size: 24px;
                margin-right: 10px;
                margin-bottom: 10px;
            }
            .footer i:hover{
                color: #f0b22d;
            }
            .footer li{
                margin-bottom: 5px !important;
            }
            .footer a{
                text-decoration: none;
                font-family: "Albert Sans", sans-serif;
                text-transform: capitalize;
                font-size: 20px;
                color: #fff;
            }
            .footer a:hover{
                color: #f0b22d;
                text-decoration: underline;
            }
            .footer>div>div:nth-child(1)>div:nth-child(1) img{
                margin-bottom: 8px;
            }

            @media (min-width:768px) and (max-width:960px){
                #searchBtn i{
                    font-size: 20px;
                    padding: 8px;
                }
                #searchBar input {
                    width: 75% !important;
                }
                #toggledark {
                    top: 15px;
                    right: 35px;
                }
                .header2{
                    margin-top: 60px !important;
                }
            }

            @media (max-width:600px){
                #toggledark {
                    top: 15px;
                    right: 12px;
                }
            
                .header {
                    display: grid !important;
                    align-items: center;
                }
            
                .header>div:nth-child(3) {
                    grid-column: 2/4;
                    grid-row: 1/2;
                    justify-content: center;
                }
            
                .header>div:nth-child(3) ul {
                    display: flex !important;
                    flex-direction: row !important;
                    margin-left: 10px !important;
                    column-gap: 16px;
                }
                .header2{
                    margin-top: 40px !important;
                    padding: 0 !important;
                }
                .small{
                    width: 80px;
                }
                .add{
                    color: #131311;
                    background: #f0b22d;
                    font-size: 16px;
                    font-weight: 400;
                    padding: 8px 10px;
                    border: none;
                    outline: none;
                    border-radius: 0.3rem;
                    margin-bottom: 20px;
                }
                .now{
                    color: #fff;
                    background: #131311;
                    font-size: 16px;
                    font-weight: 400;
                    padding: 8px 10px;
                    border: none;
                    outline: none;
                    border-radius: 0.3rem;
                    margin-bottom: 20px;
                }
                .footer>div>div{
                    text-align: center !important;
                }
                .footer h3{
                    font-size: 20px;
                }
                .footer address, 
                .footer p,
                .footer a,
                .footer i{
                    text-align: center;
                    font-size: 16px;
                }
                .modal-content{
                    position:  relative !important;
                }
                .modal-content>button:nth-child(1){
                    position: absolute !important;
                    right: -8px !important;
                    z-index: 99 !important;
                }
                .modal-content>button:nth-child(1) svg{
                    fill: #000 !important;
                }
            }